@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Plex</h2>
        <p>Last update: </p>
    </div>
    <div class="col-md-4">
        <h2>Current status</h2>
        <p>Current status of pc;</p>
        Lastupdate: <ul id="movieList"></ul>
    </div>
    <div class="col-md-4">
        <h2>Click here</h2>
        <p>
            <input name="btnShutdown" id="btnShutdown" type="submit" value="Shutdown">

        </p>
        <p></p>
    </div>
</div>
